@model IEnumerable<EspnBackend.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<h2>Players List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Position</th>
            <th>Team Id</th>
            <th>College Id</th>
            <th>Home Town City Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var player in Model)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Number</td>
                <td>@player.Position</td>
                <td>@player.TeamId</td>
                <td>@player.CollegeId</td>
                <td>@player.HomeTownCityId</td>
            </tr>
        }
    </tbody>
</table>
